.chart__block-top {
  padding: 25px 50px;
  display: block;
  border-radius: 50px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.chart__block-bottom {
  padding: 25px 50px;
  display: block;
  border-radius: 50px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}
